.movie-card{
  font-size: 12px;
  display: flex;
  .poster{
    margin-bottom: 1rem;
  }
  .info{
    flex: 1;
  }
  p{
    font-size: 12px;
  }
}

.movie-card-compact{
  display: block;
  position: relative;
  .poster{
    img{
      width: 100%;
    }
  }
  .info{
    position: absolute;
    background-color: rgba(0,0,0,.6);
    color: #FFF;
    width: 100%;
    bottom: 0;
    padding: .5rem;
    h4{
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }


  }

}
