<div class="row">
  <div class="columns medium-3">
    <ul class="no-bullet">
      {{#each model.genres as |item|}}
        <li>{{link-to item.name "genre" item.id }}</li>
      {{/each}}
    </ul>
  </div>
  <div class="columns medium-9">
    <ul class="no-bullet flex-column">
      {{#each movies.results as |item|}}
        <li>
          {{#link-to "movie.detail" item.id}}
            {{movie-card item=item}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
    {{tmdb-pager model=movies params=params }}
  </div>

</div>
