
<div class="row columns">
    {{search-bar}}


    <ul class="no-bullet flex-column">
      {{#each movies.results   as |item|}}
      <li>
        {{#link-to "movie.detail" item.id}}
          {{movie-card-compact item=item}}
        {{/link-to}}
      </li>
      {{/each}}
    </ul>

    {{tmdb-pager model=movies params=params }}


</div>
